<template>
	<div class="lobby-header">
		<Logo />
		<div class="flex items-center">
			<div class="lobby-header__title mr-6 font-bold">{{ title }}</div>
			<div class="snackbar mr-6">
				<img src="~/assets/images/gf-nav-def.svg" alt="" />
			</div>
		</div>
	</div>
</template>

<script>
import Logo from '~/components/header/logo'
export default {
	components: {
		Logo
	},
	props: {
		title: {
			default: 'FIFA 19',
			type: String
		}
	}
}
</script>

<style lang="scss" scoped>
@import 'index';
</style>
