.fifa-tag{
	background: theme('colors.black');
	border-radius: 0px 100px 100px 0px;
	@apply text-white;
	height: 13px;
	width: 58px;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	letter-spacing: 1.5px;
}
