<template>
	<div class="fifa-tag">
		<h5>{{ tag }}</h5>
	</div>
</template>

<script>
export default {
	props: {
		tag: {
			default: 'FIFA 19',
			type: String
		}
	}
}
</script>

<style lang="scss" scoped>
@import 'index';
</style>
