<template>
	<div class="logo">
		<img src="~/assets/images/gfinity-logo-neg.svg" alt="gfinity-logo" />
	</div>
</template>

<script>
// import Logo from '~/components/header/logo'
export default {}
</script>

<style lang="scss" scoped>
@import 'index';
</style>
