/* @font-face {
  font-family: 'GT Zirkon';
  src: url('/assets/fonts/GT-Zirkon-Regular.woff2') format('woff2'),
  url('/assets/fonts/GT-Zirkon-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'GT Zirkon';
  src: url('/assets/fonts/GT-Zirkon-Light.woff2') format('woff2'),
  url('/assets/fonts/GT-Zirkon-Light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'AkkuratStd';
  src: url('/assets/fonts/AkkuratLLWeb-Bold.woff2') format('woff2'),
  url('/assets/fonts/AkkuratLLWeb-Bold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'AkkuratStd';
  src: url('/assets/fonts/AkkuratLLWeb-Regular.woff2') format('woff2'),
  url('/assets/fonts/AkkuratLLWeb-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
} */

@font-face {
    font-family: 'Akzidenz-Grotesk';
    src: local('Akzidenz-Grotesk BQ Regular'), local('Akzidenz-Grotesk-BQ-Regular'),
        url('/assets/fonts/AkzidenzGroteskBQ/AkzidenzGroteskBQ-Reg.woff2') format('woff2'),
        url('/assets/fonts/AkzidenzGroteskBQ/AkzidenzGroteskBQ-Reg.woff') format('woff'),
        url('/assets/fonts/AkzidenzGroteskBQ/AkzidenzGroteskBQ-Reg.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
	font-family: 'Akzidenz-Grotesk';
	src: local('Akzidenz-Grotesk BQ Bold'), local('Akzidenz-Grotesk-BQ-Bold'),
		url('/assets/fonts/AkzidenzGroteskBQ/AkzidenzGroteskBQ-Bold.woff2') format('woff2'),
		url('/assets/fonts/AkzidenzGroteskBQ/AkzidenzGroteskBQ-Bold.woff') format('woff'),
		url('/assets/fonts/AkzidenzGroteskBQ/AkzidenzGroteskBQ-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
