<template>
	<div class="team-player">
		<div class="team-player__frame">
			<img v-if="player" :src="player.img" alt="player" />
		</div>
		<div class="team-player__type">
			<h6>Team {{ player ? player.type : 'Player' }} /</h6>
			<nuxt-link v-if="!player" to="/lobby-search">
				<h4 class="flex">
					<strong class="mr-2 text-base font-extrabold tracking-tight"
						>Invite Player</strong
					>
					<img src="~/assets/images/gf-caret-right.svg" />
				</h4>
			</nuxt-link>
			<h4 v-else>
				<strong class="text-base font-extrabold tracking-tight">{{
					player.name
				}}</strong>
			</h4>
		</div>
		<PlayerState v-if="player && player.ready" :player="player" />
	</div>
</template>

<script>
import PlayerState from '~/components/team-player/player-state'
export default {
	components: {
		PlayerState
	},
	props: {
		player: {
			type: Object,
			default: () => {}
		}
	}
}
</script>

<style lang="scss" scoped>
@import 'index';
</style>
