.team-player {
	margin-right: 15px;
	.team-player__frame {
		width: 140px;
		height: 187px;
		border: 1px solid theme('colors.lightergrey');
		box-sizing: border-box;
		border-radius: 6px;
	}
	.team-player__type {
		h6 {
			@apply font-light text-lightgrey text-xs mt-4 mb-1;
		}
	}
}
