<template>
	<div class="stats_list">
		<div class="stats_list__row">
			<div>
				<h4 class="text-sm font-extrabold tracking-tight">Type</h4>
			</div>
			<div>
				<select class="tracking-tight text-sm">
					<option>Competitive</option>
				</select>
			</div>
		</div>
		<div class="stats_list__row">
			<div>
				<h4 class="text-sm font-extrabold tracking-tight">
					Gamemode
				</h4>
			</div>
			<div>
				<select class="tracking-tight text-sm">
					<option>Squad Battles</option>
				</select>
			</div>
		</div>
		<div class="stats_list__row">
			<div>
				<h4 class="text-sm font-extrabold tracking-tight">
					Lobby Status
				</h4>
			</div>
			<div>
				<select class="tracking-tight text-sm">
					<option>Invite Only</option>
				</select>
			</div>
		</div>
	</div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
@import 'index';
</style>
