.stats_list {
	margin-top: 34px;
	&__row{
		border-top: 1px solid theme('colors.lightergrey');
		padding: 11px 0px;
		@apply flex items-center justify-between;
	}
	select {
		background: transparent;
    	width: 200px;
	}
}
