<template>
	<div class="lobby-container" :class="[`lobby-container--${state}`]">
		<div class="lobby-container__navigation">
			<nuxt-link :to="back">
				<img src="~/assets/images/gf-arrow-left.svg" />
			</nuxt-link>
		</div>
		<slot />
	</div>
</template>

<script>
export default {
	props: {
		searching: {
			type: Boolean,
			default: true
		},
		back: {
			type: String
		}
	},
	computed: {
		state() {
			if (this.searching) return 'searching'
			return 'accept'
		}
	}
}
</script>

<style lang="scss" scoped>
@import 'index';
</style>
