.lobby-container {
	position: relative;
	width: 351px;
	height: 637px;

	&--searching {
		background-color: theme('colors.blue');
	}
	&--accept {
		background-color: theme('colors.black');
	}
	.lobby-container__navigation {
		height: 105px;
		width: 105px;
		background-color: theme('colors.black');
		position: absolute;
		left: 0;
		top: 0;
		@apply items-center flex justify-between;
	}
}
