.team-player__stats {
	.team-player__stats-state {
		border: 1px solid #1B1B1B;
		box-sizing: border-box;

		h6 {
			font-size: 10px;
			line-height: 12px;
			/* identical to box height */

			letter-spacing: 1.5px;
			text-transform: uppercase;
			padding: 3px 5px;
		}
	}
}

.team-player__type {
	small {
		margin-top: -10px;
	}

	&--strong {
		color: red;
	}
	&--weak {
		color: yellow;
	}
}
