<template>
	<div class="team-player__stats flex items-center mt-4">
		<div class="team-player__stats-state mr-3">
			<h6 class="text-xxs tracking-spaced">READY</h6>
		</div>
		<div
			class="team-player__type flex"
			:class="[`team-player__type--${strength}`]"
		>
			<img src="~/assets/images/gf-pts-g.svg" />
			<small>{{ player.rating }}</small>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		player: {
			type: Object
		}
	},
	computed: {
		strength() {
			if (this.player.rating > 60) return 'strong'
			return 'weak'
		}
	}
}
</script>

<style lang="scss" scoped>
@import 'index';
</style>
