<template>
	<div
		class="lobby-panel"
		:class="[`lobby-panel--${type}`, `lobby-panel--${color}`]"
	>
		<div class="lobby-panel__action-title">
			<h6
				class="text-white capitalize text-sm font-extrabold tracking-tight"
			>
				{{ parsedActionText }}
			</h6>
		</div>
		<div class="lobby-panel__action flex">
			<timer
				v-if="timeInSeconds"
				:on-waiting-time-up="handleWaitingTimeOver"
				class="mr-4"
				:time-in-seconds="timeInSeconds"
			/>
			<img
				v-if="!searching"
				alt="gfinity-arrow-right"
				src="~/assets/images/gf-arrow-right.svg"
			/>
			<nuxt-link v-else to="/lobby">
				<img alt="gfinity-close" src="~/assets/images/gf-close.svg" />
			</nuxt-link>
		</div>
	</div>
</template>

<script>
import Timer from '~/components/timer/index'
export default {
	components: {
		Timer
	},
	props: {
		timeInSeconds: {
			// default: () => 180,
			type: Number
		},
		type: {
			default: 'default',
			type: String
		},
		actionText: {
			type: String
		},
		to: {
			default: 'default',
			type: String
		},
		onSearchingComplete: {
			type: Function,
			default: () => {}
		},
		searching: {
			default: false,
			type: Boolean
		}
	},
	computed: {
		color() {
			if (this.searching) return 'black'
			return 'blue'
		},
		parsedActionText() {
			if (this.actionText) return 'Play Now'
			if (this.searching) return 'searching...'
			return 'accept'
		}
	},
	methods: {
		handleWaitingTimeOver() {
			this.onSearchingComplete && this.onSearchingComplete()
		}
	}
}
</script>

<style lang="scss" scoped>
@import 'index';
</style>
