.lobby-panel {
	height: 89px;
    position: absolute;
    bottom: 0;
    left: 0;
	width: 375px;
	display: flex;
    justify-content: space-between;
	align-items: center;
	padding: 36px 16px;
	&--blue {
		background: #293894;
	}
	&--black {
		background: #1B1B1B;
	}
	&--default {
		width: 100%;
	}
	&--floating {
		position: absolute;
		bottom: 26px;
		width: calc(0.79 * 100%);
		right: 0;
    	left: initial;
	}

	&__action-title {
		font-size: 14px;
		line-height: 16.41px;
		letter-spacing: -0.5px;
	}
}
