$color__red: #E94235;
$color__blue: #293894;
$color__black: #1B1B1B;
$color__white: #FFFFFF;
$color__light-grey: #DFE0D9;
$color__dark-grey: #6B6B65;
$color__lighter-grey: #CFD1C7;

$border-color: $color__lighter-grey;
$primary-color: $color__blue;
$secondary-color: $color__blue;

