@font-face {
    font-family: 'Akzidenz-Grotesk';
    src: local('Akzidenz-Grotesk BQ Regular'), local('Akzidenz-Grotesk-BQ-Regular'),
        url('../../fonts/AkzidenzGroteskBQ/AkzidenzGroteskBQ-Reg.woff2') format('woff2'),
        url('../../fonts/AkzidenzGroteskBQ/AkzidenzGroteskBQ-Reg.woff') format('woff'),
        url('../../fonts/AkzidenzGroteskBQ/AkzidenzGroteskBQ-Reg.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
	font-family: 'Akzidenz-Grotesk';
	src: local('Akzidenz-Grotesk BQ Bold'), local('Akzidenz-Grotesk-BQ-Bold'),
		url('../../fonts/AkzidenzGroteskBQ/AkzidenzGroteskBQ-Bold.woff2') format('woff2'),
		url('../../fonts/AkzidenzGroteskBQ/AkzidenzGroteskBQ-Bold.woff') format('woff'),
		url('../../fonts/AkzidenzGroteskBQ/AkzidenzGroteskBQ-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
