<template>
	<div class="lobby-search font-AkzidenzGrotes">
		<Header />
		<div class="lobby-room">
			<LobbyContainer
				back="/lobby"
				:searching="searching"
				class="pr-4 pl-4"
			>
				<h6 class="lobby-room__title font-bold">Matchmaking Lobby</h6>
				<h2
					v-if="searching"
					class="lobby-room__action-title font-extrabold"
				>
					Searching for compatible opponents
				</h2>
				<h2
					v-if="!searching"
					class="lobby-room__action-title font-extrabold"
				>
					A match has been found for you!
				</h2>
				<p
					v-if="searching"
					class="lobby-room__action-subtitle font-regular"
				>
					We’re searching our database of players to pair you with an
					opponent of similar skill
				</p>
				<p
					v-if="!searching"
					class="lobby-room__action-subtitle font-regular"
				>
					We’ve found a compatible opponent for you to play Squad
					Battles with in FIFA 19
				</p>
				<div class="lobby-room__row text-$color__white">
					<div class="lobby-room__col">
						<h6>Lobby</h6>
						<img src="/__nuxt/assets/images/avatar-4.png" alt="" />
					</div>
					<div class="lobby-room__col">
						<div></div>
						<p v-if="searching">4,021 in Queue</p>
						<p v-if="!searching">
							By tapping accept, you agree to play a match that
							may last for up to 30 minutes.
						</p>
					</div>
				</div>
			</LobbyContainer>
			<ActionPanel
				:on-searching-complete="handleSearchingComplete"
				:time-in-seconds="waitingTime"
				:searching="searching"
				type="floating"
			/>
		</div>
	</div>
</template>
<script>
import Header from '~/components/header'
import ActionPanel from '~/components/action-panel'
import LobbyContainer from '~/components/lobby-container'

export default {
	transition: 'search',
	components: {
		Header,
		ActionPanel,
		LobbyContainer
	},
	data() {
		return {
			teamLeader: {
				name: 'steveroesler'
			},
			searching: true,
			waitingTime: 100
		}
	},
	methods: {
		handleSearchingComplete() {
			this.searching = false
		}
	}
}
</script>
<style lang="scss">
.lobby-search {
	width: 375px;
	height: 812px;
	background-image: url(/_nuxt/assets/images/fifa19-ronaldo-fg-lg.png);
	background-position-x: 40px;
	background-repeat: no-repeat;
	background-position-y: 70px;
	position: relative;
}
.lobby-room {
	margin-top: -1px;
	.lobby-room__title {
		font-size: 16px;
		line-height: 19px;
		padding-top: 147px;
		@apply tracking-tight text-white tracking-tight;
	}
	.lobby-room__action-title {
		font-size: 48px;
		line-height: 44px;
		letter-spacing: -3px;
		@apply text-white;
		margin: 24px 0px;
	}
	.lobby-room__action-subtitle {
		font-size: 18px;
		line-height: 22px;
		letter-spacing: -0.75px;
		@apply text-white;
		margin-bottom: 64px;
	}
	.lobby-room__row {
		font-size: 12px;
		line-height: 14px;
	}
}
</style>
