<template>
	<div class="lobby font-AkzidenzGrotes">
		<Header />
		<div class="lobby__room">
			<nav class="lobby__nav">
				<img
					src="~/assets/images/gf-arrow-left-black.svg"
					alt="go back"
					class="mr-6"
				/>
				<h6>Matchmaking Lobby</h6>
			</nav>
			<div class="lobby__title">
				<h2>{{ teamLeader.name }}’s lobby</h2>
				<img src="~/assets/images/gf-lock.svg" />
			</div>
			<FifaTag class="mb-6" />
			<div class="lobby__players">
				<TeamPlayer :player="teamLeader" />
				<TeamPlayer />
			</div>
			<StatsList />
			<ActionPanel to="/lobby-search" action-text="Play Now" />
		</div>
	</div>
</template>
<script>
import Header from '~/components/header'
import FifaTag from '~/components/fifa-tag'
import TeamPlayer from '~/components/team-player'
import StatsList from '~/components/stats-list'
import ActionPanel from '~/components/action-panel'

export default {
	components: {
		Header,
		FifaTag,
		StatsList,
		TeamPlayer,
		ActionPanel
	},
	data() {
		return {
			teamLeader: {
				name: 'steveroesler',
				img: '/_nuxt/assets/images/avat.jpg',
				type: 'leader',
				ready: true,
				rating: 74
			}
		}
	}
}
</script>
<style lang="scss">
.lobby {
	background: theme('colors.lightgrey');
	width: 375px;
	height: 812px;
	background-image: url('~assets/images/fifa19-ronaldo-fg-lg.png');
	background-position-x: 181px;
	background-repeat: no-repeat;
	background-position-y: -330px;
	position: relative;
}
.lobby__room {
	@apply ml-4 mr-4;
}
.lobby__title {
	@apply flex items-center;
	h2 {
		font-size: 36px;
		@apply tracking-tightest text-black leading-44 text-4xl mt-4 font-extrabold mr-4;
		margin-top: 16px;
		margin-bottom: 13px;
	}
}
.lobby__nav {
	border-bottom: 1px solid theme('colors.lightergrey');
	@apply flex;
	padding: 16px 0;

	h6 {
		@apply tracking-tight font-bold leading-18 text-base;
	}
}
.lobby__players {
	@apply flex;
}
</style>
