<template>
	<div class="timer">
		{{ timeLeft }}
	</div>
</template>

<script>
export default {
	props: {
		timeInSeconds: {
			default: 180,
			type: Number,
			required: true
		},
		onWaitingTimeUp: {
			type: Function,
			required: true
		}
	},
	data() {
		return {
			time: this.timeInSeconds, // in seconds
			timer: null
		}
	},
	computed: {
		timeLeft() {
			return `${this.minutes} : ${this.seconds}`
		},
		minutes() {
			return String(Math.floor(this.time / 60)).padStart(2, '0')
		},
		seconds() {
			return String(this.time % 60).padStart(2, '0')
		}
	},
	created() {
		this.timer = setInterval(this.countdown, 1000)
	},
	methods: {
		countdown() {
			if (this.time > 0) {
				this.time--
				return
			}

			this.onWaitingTimeUp()
			clearInterval(this.timer)
		}
	}
}
</script>

<style lang="scss" scoped>
@import 'index';
</style>
